.header{
    width: 100%;
    position: relative;
}

.header__wrapper{
    position: absolute;
    top: 27px;
    right: 60px;
    
}
.header__list{
    display: flex;
    justify-content: end;

}
.header__list-item{
    list-style-type: none;
    margin-left: 33px; 
    
}
