.detail__wrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
    margin-right: 440px;
}
.detail1{

}
.divv{
    padding-left: 148px;
}
.detail1__wrapper-heading{
    width: 506px;
    height: 105px;
    flex-shrink: 0;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}
.detail1__wrapper-text{
    width: 497px;
    height: 66px;
    flex-shrink: 0;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

}
.detail1__wrapper-btn{
    width: 208px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--primary, #FF6464);

    flex-shrink: 0;
    color: #FFF;
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;        

}

/* Recent */
.div{
    background-color:  #EDF7FA ;
    padding-top: 69px;
    


}
.div2{
    display: flex;
    /* justify-content: space-between; */
    padding-bottom: 40px;
}
.container1{
    
}
.div__list{
    display: flex;
}
.div__list-item1{
    list-style-type: none;
    margin-left: 110px;
    margin-right: 720px;
    margin-top: -40px;

}
.div__list-item2{
    list-style-type: none;
    margin-top: -40px;
    

}
.div__list-link1{
    text-decoration: none;
}
.design{
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25); 
    margin-right: 20px; 
    margin-left: 148px;  
}
.design__heading{
    width: 374px;
    flex-shrink: 0;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 24px;
    padding-right: 23px;
    padding-left: 21px;
    margin-bottom: 17px;    

}
.design__list{
    display: flex;
    padding-left: 21px;

}
.design__list-item1{
    list-style-type: none;
    margin-right: 30px;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

}
.span{
    width: 0px;
    height: 21px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: #000;    

}
.design__list-item2{
    list-style-type: none;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

}
.design__text{
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    width: 368px;
    /* height: 117px; */
    flex-shrink: 0; 
    padding-left: 21px;
    padding-bottom: 7px;

}

.pixel{
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);    

}
.pixel__heading{
    width: 374px;
    /* height: 85px; */
    flex-shrink: 0;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    padding-top: 24px;
    padding-right: 23px;
    padding-left: 21px;    

}
.pixel__list{
    display: flex;
    padding-left: 21px;


}
.pixel__list-item1{
    list-style-type: none;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 30px;

}
.span2{

}
.pixel__list-item2{
    list-style-type: none;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

}
.pixel__text{
    width: 368px;
    /* height: 117px; */
    flex-shrink: 0;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    margin-left: 21px;

}
/* Work */

.work__heading{
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 272.727% */ 
    padding-left: 148px;   
}
.work__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 420px;
    margin-bottom: 46px;
    padding-left: 148px;

}
.work__images{
    border-radius: 6px;
    width: 246px;
    /* height: 180px; */
    margin-right:  -100px;
}
.work__list-item{
    list-style-type: none;
    margin-top: 10px;

}
.work__item-heading{
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    margin-bottom: -1px;
    

}
.work__item-div{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: -1px;
    

}
.work__item-div-spn{
    margin-right: 36px;
    width: 62px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #142850;
    /* padding: 5px 3px;     */
    /* margin-top: -5px; */
    color: #FFF;
    font-family: Heebo;
    /* font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 333.333% */
}
.work__item-div-text{
    color: var(--light, #8695A4);
    font-family: Heebo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

}
.work__item-text{
    width: 594px;
    height: 93px;
    flex-shrink: 0;
    color: var(--dark-color, #21243D);
    font-family: Heebo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    

}
.span2{
    display: block;
    width: 858px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--gray-5, #E0E0E0);    
}